<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CarConfig">
      <section name="N330" type="System.Configuration.DictionarySectionHandler" />
      <section name="E32" type="System.Configuration.DictionarySectionHandler" />
      <section name="E33" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
    <sectionGroup name="CanConfig">
      <section name="CanDevice" type="System.Configuration.DictionarySectionHandler" />
      <section name="CanInit" type="System.Configuration.DictionarySectionHandler" />
      <section name="CanSend" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
    <sectionGroup name="FlashConfig">
      <section name="Sequence1" type="System.Configuration.DictionarySectionHandler" />
      <section name="Process" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <CanConfig>
    <CanDevice>
      <add key="DeviceType" value="" />
      <add key="DeviceIndex" value="" />
      <add key="Channel" value="" />
    </CanDevice>
    <CanInit>
      <add key="BaudrateBTR0" value="" />
      <add key="BaudrateBTR1" value="" />
      <add key="FilterMode" value="" />
      <add key="AccCode" value="" />
      <add key="MaskCode" value="" />
      <add key="Mode" value="" />
    </CanInit>
    <CanSend>
      <add key="SendType" value="" />
      <add key="FrameType" value="" />
      <add key="FrameFormat" value="" />
    </CanSend>
  </CanConfig>
  <CarConfig>
    <N330>
      <add key="PhysicalID" value="0x741" />
      <add key="FunctionID" value="0x7DF" />
      <add key="ReceiveID" value="0x749" />
      <add key="FlashSequence" value="Sequence1" />
      <add key="SoftwareVersion" value="22 f1 95" />
      <add key="SecurityAccess" value="03 04 0" />
    </N330>
    <E32>
      <add key="PhysicalID" value="0x76B" />
      <add key="FunctionID" value="0x7DF" />
      <add key="ReceiveID" value="0x7AB" />
      <add key="FlashProcess" value="Normal" />
    </E32>
    <E33>
      <add key="PhysicalID" value="0x76B" />
      <add key="FunctionID" value="0x7DF" />
      <add key="ReceiveID" value="0x7AB" />
      <add key="FlashProcess" value="Normal" />
    </E33>
  </CarConfig>
  <FlashConfig>
    <Sequence1>
      <add key="0" value="ExtendedSession" />
      <add key="1" value="PreProgrammingCheck" />
      <add key="2" value="DtcSetOFF" />
      <add key="3" value="CommunicationDisable" />
      <add key="4" value="ProgrammingSession" />
      <add key="5" value="SeedRequest" />
      <add key="6" value="KeySend" />
      <add key="7" value="DownloadRequest" />
      <add key="8" value="DataTransfer" />
      <add key="9" value="TransferExit" />
      <add key="10" value="RoutineIdentifier" />
      <add key="11" value="MemoryErase" />
      <add key="12" value="DownloadRequest" />
      <add key="13" value="DataTransfer" />
      <add key="14" value="TransferExit" />
      <add key="15" value="RoutineIdentifier" />
      <add key="16" value="ProgrammingDependenciesCheck" />
      <add key="17" value="EcuReset" />
      <add key="18" value="DefaultSession" />
      <add key="19" value="DiagnosticInformationClear" />
    </Sequence1>
    <Process>
      <add key="PresentTester" value="3E 00" />
      <add key="DefaultSession" value="10 01" />
      <add key="ExtendedSession" value="10 03" />
      <add key="PreProgrammingCheck" value="31 01 ff 02" />
      <add key="DtcSetON" value="85 01" />
      <add key="DtcSetOFF" value="85 02" />
      <add key="CommunicationEnable" value="28 00 01" />
      <add key="CommunicationDisable" value="28 03 01" />
      <add key="ProgrammingSession" value="10 02" />
      <add key="SecurityAccess" value="27" />
      <add key="SeedRequest" value="27" />
      <add key="KeySend" value="27" />
      <add key="DownloadRequest" value="34 00 44" />
      <add key="DataTransfer" value="36" />
      <add key="TransferExit" value="37" />
      <add key="RoutineIdentifier" value="31 01 F0 01" />
      <add key="MemoryErase" value="31 01 FF 00" />
      <add key="ProgrammingDependenciesCheck" value="31 01 FF 01" />
      <add key="EcuReset" value="11 01" />
      <add key="DiagnosticInformationClear" value="14 FF FF FF" />
    </Process>
  </FlashConfig>
</configuration>