<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="CanConfig">
      <section name="N330" type="System.Configuration.DictionarySectionHandler"/>
      <section name="E32" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  
  <appSettings></appSettings>

  <CanConfig>
    <N330>
      <add key="PhysicalID" value="00000741"/>
      <add key="FunctionID" value="000007DF"/>
      <add key="SoftwareVersion" value="03 22 f1 95 ff ff ff ff"/>
      <add key="ExtendedSession" value="02 10 03 ff ff ff ff ff"/>
      <add key="PreProgrammingCheck" value="04 31 01 ff 02 ff ff ff"/>
      <add key="DtcSetOFF" value="02 85 02 ff ff ff ff ff"/>
      <add key="CommunicationDisable" value="03 28 03 01 ff ff ff ff"/>
      <add key="ProgrammingSession" value="02 10 02 ff ff ff ff ff"/>
      <add key="SeedRequest" value="02 27 03 ff ff ff ff ff"/>
    </N330>
    <E32>
      <add key="PhysicalID" value="0000076B"/>
      <add key="FunctionID" value="000007DF"/>
      <add key="SoftwareVersion" value="03 22 f1 80 ff ff ff ff"/>
      <add key="ExtendedSession" value="02 10 03 ff ff ff ff ff"/>
      <add key="PreProgrammingCheck" value="04 31 01 ff 02 ff ff ff"/>
      <add key="DtcSetOFF" value="02 85 02 ff ff ff ff ff"/>
      <add key="CommunicationDisable" value="03 28 03 01 ff ff ff ff"/>
      <add key="ProgrammingSession" value="02 10 02 ff ff ff ff ff"/>
      <add key="SeedRequest" value="02 27 03 ff ff ff ff ff"/>
    </E32>
  </CanConfig>
  
</configuration>
