<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="CarConfig">
      <section name="N330" type="System.Configuration.DictionarySectionHandler"/>
      <section name="E32" type="System.Configuration.DictionarySectionHandler"/>
      <section name="E33" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
    <sectionGroup name="CanConfig">
      <section name="CanDevice" type="System.Configuration.DictionarySectionHandler"/>
      <section name="CanInit" type="System.Configuration.DictionarySectionHandler"/>
      <section name="CanSend" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
    <sectionGroup name="FlashConfig">
      <section name="Sequence1" type="System.Configuration.DictionarySectionHandler"/>
      <section name="Process" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings></appSettings>

  <CanConfig>
    <CanDevice>
      <add key="DeviceType" value=""/>
      <add key="DeviceIndex" value=""/>
      <add key="Channel" value=""/>
    </CanDevice>
    <CanInit>
      <add key="BaudrateBTR0" value=""/>
      <add key="BaudrateBTR1" value=""/>
      <add key="FilterMode" value=""/>
      <add key="AccCode" value=""/>
      <add key="MaskCode" value=""/>
      <add key="Mode" value=""/>
    </CanInit>
    <CanSend>
      <add key="SendType" value=""/>
      <add key="FrameType" value=""/>
      <add key="FrameFormat" value=""/>
    </CanSend>
  </CanConfig>

  <CarConfig>
    <N330>
      <add key="PhysicalID" value="0x741"/>
      <add key="FunctionID" value="0x7DF"/>
      <add key="ReceiveID" value="0x749"/>
      <add key="FlashSequence" value="Sequence1"/>
      <add key="SoftwareVersion" value="22 f1 95"/>
      <add key="SecurityAccess" value="03 0"/>
    </N330>
    <E32>
      <add key="PhysicalID" value="0x76B"/>
      <add key="FunctionID" value="0x7DF"/>
      <add key="ReceiveID" value="0x7AB"/>
      <add key="FlashProcess" value="Normal"/>
    </E32>
    <E33>
      <add key="PhysicalID" value="0x76B"/>
      <add key="FunctionID" value="0x7DF"/>
      <add key="ReceiveID" value="0x7AB"/>
      <add key="FlashProcess" value="Normal"/>
    </E33>
  </CarConfig>

  <FlashConfig>
    <Sequence1>
      <add key="0" value="ExtendedSession"/>
      <add key="1" value="PreProgrammingCheck"/>
      <add key="2" value="DtcSetOFF"/>
      <add key="3" value="CommunicationDisable"/>
      <add key="4" value="ProgrammingSession"/>
      <add key="5" value="SecurityAccess"/>
      <add key="6" value="DownloadRequest"/> <!--这里做特殊处理，程序检测到下载请求后，会自动把当前需下载的文件下载完成，然后向后跳3步-->
      <add key="7" value="DataTransfer"/>
      <add key="8" value="TransferExit"/>
      <add key="9" value="MemoryErase"/>
      <add key="10" value="DownloadRequest"/>
      <add key="11" value="DataTransfer"/>
      <add key="12" value="TransferExit"/>
    </Sequence1>
    <Process>
      <add key="PresentTester" value="3E 00"/>
      <add key="ExtendedSession" value="10 03"/>
      <add key="PreProgrammingCheck" value="31 01 ff 02"/>
      <add key="DtcSetOFF" value="85 02"/>
      <add key="CommunicationDisable" value="28 03 01"/>
      <add key="ProgrammingSession" value="10 02"/>
      <add key="SecurityAccess" value="27"/>
      <add key="SeedRequest" value="27 03"/>
      <add key="KeySend" value="27 04"/>
      <add key="DownloadRequest" value="34 00 44"/>
      <add key="DataTransfer" value="36"/>
      <add key="TransferExit" value="37"/>
    </Process>
  </FlashConfig>

</configuration>
